body {
    background-color:#34ace0;
    padding: 0px;
    margin: 0px;
}

h1 {
    color: #f7f1e3;
    text-align: center;
}

.friend {
    background-color: #f7f1e3;
    padding: 70px 50px;
    margin: 0px !important;
}

.friend>h3 {
    text-transform: uppercase;
}